<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="container" >
        <h1>My countries</h1>
    <ul class="list-group">
      <% countries.forEach((country) => { %>
      <li class="list-group-item">
        <a href="/countries/<%= country.uuid %>/cities ">
        <%= country.name %>
        </a>
    </li>
      <% }) %>
    </ul>
</body>
</html>