<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>My countries</h1>
    <ul>
      <% countries.forEach((country) => { %>
      <li>
        <a href="/countries/<%= country.uuid %>/cities ">
        <%= country.name %>
        </a>
    </li>
      <% }) %>
    </ul>
</body>
</html>